<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net471" />
  <package id="InTheHand.BluetoothLE" version="4.0.33" targetFramework="net471" />
  <package id="InTheHand.Net.Bluetooth" version="4.0.34.1" targetFramework="net471" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.22621.755" targetFramework="net471" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net471" />
  <package id="System.Management" version="7.0.1" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net471" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net471" />
</packages>